name: Update Stops Database

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  update-stops-database:
    permissions:
      contents: read
      pages: write
      id-token: write
      
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo run --manifest-path=gtfs/Cargo.toml
      - run: zip build/gtfs.sqlite.zip build/gtfs.sqlite
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build/
      - uses: actions/deploy-pages@v4
        id: deployment