name: Update Database

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  update-stops-database:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-src-dir: gtfs
      - run: cargo run --manifest-path=gtfs/Cargo.toml
      - env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          psql "$DATABASE_URL" <<EOF
          BEGIN;
          SET session_replication_role = replica;

          TRUNCATE stop_times;
          TRUNCATE trips;
          TRUNCATE routes;
          TRUNCATE service_days;
          TRUNCATE services;
          TRUNCATE stops;
          TRUNCATE stations;

          \COPY stations FROM 'build/stations.csv' CSV HEADER;
          \COPY stops FROM 'build/stops.csv' CSV HEADER;
          \COPY services FROM 'build/services.csv' CSV HEADER;
          \COPY service_days FROM 'build/service_days.csv' CSV HEADER;
          \COPY routes FROM 'build/routes.csv' CSV HEADER;
          \COPY trips FROM 'build/trips.csv' CSV HEADER;
          \COPY stop_times FROM 'build/stop_times.csv' CSV HEADER;

          SET session_replication_role = DEFAULT;
          COMMIT;
          EOF